<div class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <div class="navbar-toggle-wrapper visible-xs">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".js-navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <a href="#" class="navbar-brand">Ferien-Frontend</a>
    </div>
    <div class="collapse navbar-collapse js-navbar-collapse">
      <ul class="navbar-nav nav">
        <li>{{#link-to 'index'}}Home{{/link-to}}</li>
        <li>{{#link-to 'protected'}}Protected{{/link-to}}</li>
      </ul>
      <ul class="navbar-nav nav navbar-right">
        <br/>
        {{#if session.isAuthenticated}}
          <button {{ action 'invalidateSession' }}>Logout</button>
        {{else}}
          {{#link-to 'login' class="btn btn-danger"}}Login{{/link-to}}
        {{/if}}
      </ul>
    </div>
  </div>
</div>