{{partial 'navbar'}}

<div class="container">
  <div class="row">
      <div class="col-sm-12">
        {{ember-notify messageStyle='bootstrap'}}
        <div class="row">
          {{outlet}}
        </div>
      </div>
  </div>

  <br/>
  {{partial 'footer'}}
</div>

